<div class="password-modal-content">
  <form nz-form (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzFor="oldPassword" nzRequired>Old Password</nz-form-label>
      <nz-form-control [nzSpan]="24">
        <nz-input-group [nzPrefix]="prefixLock">
          <input nz-input type="password" id="oldPassword" name="oldPassword" [(ngModel)]="oldPassword" 
            placeholder="Enter current password" required />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzFor="newPassword" nzRequired>New Password</nz-form-label>
      <nz-form-control [nzSpan]="24">
        <nz-input-group [nzPrefix]="prefixLock">
          <input nz-input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" 
            placeholder="Enter new password" required />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <div class="modal-actions">
      <button nz-button type="button" (click)="close()" [disabled]="isSubmitting">Cancel</button>
      <button nz-button nzType="primary" type="submit" [nzLoading]="isSubmitting" [disabled]="!oldPassword || !newPassword">
        Update Password
      </button>
    </div>
  </form>
</div>

<ng-template #prefixLock>
  <span class="material-symbols-outlined">lock</span>
</ng-template>
