<div class="pd-gallery">
      <div class="gallery-main">
        <img src="https://lh3.googleusercontent.com/aida-public/AB6AXuBxd1Usm4zkNyL8RyxNXkzwlUdE95x5sIbJfos3v2bUqoOLTzwHNXSeJ6Y0oC8LCTOaxP_6OnSoRjB_ikcGx0L0m_AZr80t3RfTSWgWwpqGcLncJROz32oFcsXFoIP6EH1TsL56XoHQgO8199Guz3iGaEXeC6tV6U2SXvSygXhpcC5738ojDTT1RR6I_VY9uWtXvh5_LEUTr4IGcFQ-SOsiVrQOEcr36kfGK2lq1X6Q7SwL0dNzjTURU-pEbkxiVJ3l2oKMxmDbEVk" alt="Sculptural Silk Blazer" />
      </div>
      <div class="gallery-thumbs">
        <div class="thumb">
          <img src="https://lh3.googleusercontent.com/aida-public/AB6AXuDs8pcFYr5p_RY9CHQCQQkFRl2FIG7xIltiUQgf2ttHXyFirAgKlzg5philiLdX-1uqGzf6cqk1Ow-O7FdUU9toWP8-RapMIVAJLltioIagOTyXW7XXQDKRcxIUaqYh5pMeQadi8YccVULZbCepg4dlRCJ6K3mEhwOJKpxSbbDx9QNuS362GWkNhxPHi9blwGSIQaUMBaujvi1pT-UMv-hTh1CE0uqMTpDv861zMRsbUq3IBsfKDcTmEFmQclU2XzGF7Vs34QcU7so" alt="Fabric texture" />
        </div>
        <div class="thumb">
          <img src="https://lh3.googleusercontent.com/aida-public/AB6AXuDoPv-95dRN8Lysltf5GkSnU0MivSrcWXBaAFcDacpy9TpKnJ1KGlJCsvxKkVHOhWn_gh4H89i50qy6lbHfeXqB5dEZfjz6_YqhCSq6B7wJNq8yLIFtDcQ7snL-_VsFkEF5jEqUdY9AL_Ls0HXp1N8oKitOLVirhE_OXuPSpScKf2TXWeo3t2N307CVeOti4m8S1OOXVm0O3L-je4awBO9oagMD8xnW-jm6yv3QhqpTpx4FVU6_bhzpMJODvzK-g_lM7QkN5W-WnmM" alt="Back detail" />
        </div>
      </div>
    </div>
