@if (displayAttributes().length > 0) {
  <div class="sixdo-attributes-wrap flex flex-col gap-4">
    @for (attr of displayAttributes(); track attr.name) {
      <div class="sixdo-attribute-row flex flex-col sm:flex-row sm:items-center gap-3">
        <h6 class="leading-none font-semibold capitalize dark:text-white sm:min-w-[90px]">{{ attr.name }} :</h6>
        <div class="flex gap-2 flex-wrap">
          @for (val of attr.values; track val) {
            <label class="cursor-pointer">
              <input class="appearance-none hidden" type="radio"
                [name]="attr.name"
                [checked]="isSelected(attr.name, val)"
                (change)="selectAttribute(attr.name, val)">
              <span class="sixdo-attribute-chip px-4 py-2 border dark:border-bdr-clr-drk rounded-lg text-sm duration-300 dark:text-white"
                [class.bg-primary]="isSelected(attr.name, val)"
                [class.text-white]="isSelected(attr.name, val)"
                [class.border-primary]="isSelected(attr.name, val)"
                [class.bg-gray-100]="!isSelected(attr.name, val)"
                [class.dark:bg-dark-secondary]="!isSelected(attr.name, val)">
                {{ val }}
              </span>
            </label>
          }
        </div>
      </div>
    }
  </div>
}
